<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Category</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Product management</h1>
      <a class="btn btn-primary" href="/" role="button">Home</a>
      <form th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-success" value="Logout">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-6 mt-1">
      <form method="post" th:action="@{/sale/save}" th:object="${sale}">
        <input type="hidden" class="form-control" name="id" th:field="*{id}">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" name="name" id="name" th:field="*{name}">
        </div>
        <div class="mb-3">
          <label for="slNo" class="form-label">Sale No</label>
          <input type="text" class="form-control" name="slNo" id="slNo" th:field="*{slNo}">
        </div>
        <div class="mb-3">
          <label for="prodId" class="form-label">Category</label>
          <select id="prodId" name="prodId" class="form-control">
            <option th:each="product : ${products}"
                    th:value="${product.id}"
                    th:selected="(${product.id} == ${sale.prodId})"
                    th:text="${product.name}"
            />
          </select>
        </div>
        <div class="mb-3">
          <label for="dos" class="form-label">Dos</label>
          <input type="text" class="form-control" name="dos" id="dos" th:field="*{dos}">
        </div>
        <button type="submit" class="btn btn-primary" id="save">Save</button>
        <a class="btn btn-primary" href="/sale" role="button">Cancel</a>
      </form>
    </div>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>